body {
  background-color: aquamarine;
  font-family: "Fredoka", sans-serif;
}
.contenedor {
  height: 100vh;
  width: 100vw;
  background-color: rgb(63, 77, 196);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.titulo {
  position: absolute;
  top: 20px;
  font-size: 60px;
  text-shadow: white 0 0 10px;
  font-family: "Fredoka", sans-serif;
}
.caja1 {
  background-color: crimson;
  width: 500px;
  height: 690px;
  border-radius: 30px;
  padding: 20px;
  margin-top: 20px;
  border: solid 5px rgb(21, 20, 22);
}
.pantalla {
  width: 100%;
  height: 100px;
  background-color: rgb(233, 241, 233);
  border-radius: 30px;
  border: solid 5px rgb(154, 151, 156);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.botones {
  width: 100%;
  height: 500px;
  background-color: grey;
  margin-top: 35px;
  border-radius: 30px;
  border: solid 5px rgb(21, 20, 22);
}
.teclas {
  width: 100%;
  height: 80px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.teclas1 {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  font-size: 40px;
  border: solid 3px rgb(21, 20, 22);
  box-shadow: black 0 0 15px;
}
